$ColorNavBar--Main: #F9EEAD;
$ColorNavBar__Button--Main: #D4E4AD;
$ColorNavBar__Button--BorderTransparent: #A9D19300;
$ColorNavBar__Button--Border: #A9D193;

.NavBar__Button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 3px solid $ColorNavBar__Button--BorderTransparent;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    min-width: 175px;
    padding: 0px 10px 0px 10px;
    font-size: 15px;

}

.NavBar__Button--colorDefault {
    background: $ColorNavBar--Main;
}

.NavBar__Button--colorActive {
    background: $ColorNavBar__Button--Main;
}

.NavBar__Button:hover {
    background: $ColorNavBar__Button--Main;
    border-bottom: 3px solid $ColorNavBar__Button--Border;
}

// .NavBar__Button:focus {
//     background: $ColorNavBar__Button--Main;
// }
